body {
	margin: 0 !important;
}
:root {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

	.app-layout {
		display: grid;
		grid-template-columns: var(--width-sidebar) 1fr; /* sidebar | editor */
		height: 100vh;
		width: 100vw;
		overflow: hidden;
	}
}
