:root {
	--width-sidebar: 70px;

	.sidebar {
		width: var(--width-sidebar) !important;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 1rem;
		gap: 1rem;
	}

	.sidebar button {
		width: 48px;
		height: 48px;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		font-size: 18px;
	}
	.sidebar button:hover {
		background: #334155;
	}
}
